<template>
  <div>
    Deck player {{ player.playerNum }}
    <div class="deckBuilding">
      {{ player.deck }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Deck',
  props: [
    'player'
  ],
  data () {
    return {}
  }
}
</script>

<style scoped>
  .deckBuilding {
    margin-top: 10px;
  }
</style>
