<template>
  <div>
    Draw pile player {{ player.playerNum }}
    <div v-for="(card, index) in player.drawPile" :key="index">
      <button disabled>{{ card }}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DrawPile',
  props: [
    'player'
  ],
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
