<template>
  <div>
    Hand of player {{ player.playerNum }}
    <div v-for="(card, index) in player.hand" :key="index">
      <button @click="selectCard(card)">{{ card }}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hand',
  props: [
    'player'
  ],
  data () {
    return {}
  },
  methods: {
    selectCard(card) {
      this.player.playCard(card)
    },
  }
}
</script>

<style scoped>

</style>
