<template>
  <div id="app">
    <div v-for="player in players"
         :key="player.playerNum"
         :class="['player-' + player.playerNum, 'player']">
      <Deck :player="player" class="deck" />
      <DrawPile :player="player" class="drawPile" />
      <Hand :player="player" class="hand" />
      <DiscardPile :player="player" class="discardPile" />
    </div>
  </div>
</template>

<script>
import Deck from './components/Deck'
import Game from '@/core/objects/game';
import DiscardPile from '@/components/DiscardPile';
import DrawPile from '@/components/DrawPile';
import Hand from '@/components/Hand';

export default {
  name: 'App',
  data() {
    return {
      'players': [],
    };
  },
  components: {
    DrawPile,
    DiscardPile,
    Deck,
    Hand
  },
  mounted() {
    Game.startGame();
    this.players = Game.players;
  }
}
</script>

<style>
  button {
    border-width: 1px;
    background: transparent;
    margin-top: 5px;
    outline: none;
  }
  button:disabled {
    border: 1px solid gray;
    color: #000;
    padding-bottom: 2px;;
  }
</style>

<style scoped>
  #app {
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
  }
  .player-0 {
    background-color: chocolate;
  }
  .player-1 {
    background-color: darkkhaki;
  }
  .player {
    float: left;
    width: 400px;
    margin-right: 10px;
  }
  .deck {
    height: 200px;
    padding: 15px;
  }
  .drawPile {
    float: left;
    min-height: 100px;
    width: 100px;
  }
  .hand {
    float: left;
    min-height: 200px;
    width: 200px;
  }
  .discardPile {
    float: left;
    min-height: 100px;
    width: 100px;
  }
</style>
